h1{
  color:#000000;
   border:20px solid #FF0000;
   border-radius: 10px;
   background-color: grey;
   padding-left: 20px;
   text-align:center;
 }

  body{
    font-family:"Sharkshock", cursive;
    background-image: url(fond.jpg);
  background-size: cover;
  }
header p{
  color:white;
  text-align:center;
  font-size:1.5em;
}

h2{
  color:#FF0000;

}

.size{
  font-size:1em;
  padding-left: 0;
  border: 10px solid #FF0000;
}

.left{
float:left;
width:40%;
padding-left:300px;
}

.right{
  margin-left: 50%;
  padding-top: 5px;
}

.container {
  width: 100%;
}

img{
  height:200px;
  width:300px;
}

@media screen and (max-width: 360px) {
.left{
  float: none;
  padding-left: 1%;
}

.right{
  margin-left: 1%;
}

h2{
  text-align:center;
}
}
@media screen and (min-width:361px) and (max-width: 980px) {
.left{
  padding-left: 10%;
}

#responsive {
  padding-bottom: 1em;
}

 #last {
  margin-bottom: 5em;
}

}
